body{
    padding-left: 100px;
}
.bank-title{

    text-align: center;
}
.submit-area{
    
    margin-top: 100px;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px gray;
    

}
#transaction-area{
    display: none;
}
.deposit{
           background-color: slateblue;
}
.withdraw{
            background-color: salmon;
}
.balance{
    background-color: orange;

}
.status{
    margin-top: 10px;
    margin: 0 20px;
    color: white;
    padding: 20px;
    border-radius: 10px;

}
